!!!
%html
	%head
		%meta{charset: "utf-8"}
		%title TIME
		%link{rel: "stylesheet", href: "style.css"}
		%link{rel: "stylesheet", href: "layout.css"}
	%body
		.L-content-800
			.L-row.bg-first-row
				.L-cell-25
					%h1.logo EMPeria
				.L-cell-15
					%a.share.bg-home{href: "#"} HOME
				.L-cell-15
					%a.share{href: "#"} ABOUT US
				.L-cell-15
					%a.share{href: "#"} CLIENTS
				.L-cell-15
					%a.share{href: "#"} PROJECTS
				.L-cell-15
					%a.share{href: "#"} CONTACTS 

			.L-row.clock				
				%h2.clock__header WE KNOW
				%h3.clock__next-header WHAT IS TAKES BE THE LEADER!
				%p.litle-text 
					= lorem
				%br
				%button.clock-btn CLICK HERE!

			.L-row.join-us
				%h4.big-text The work we have completed
				%p.join-us__text allows us to position ourselves as experts in business.
				%button.join-us__btn Join us!

			.L-row.offer
				%h4.big-text What The Offer
				%p.litle-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.L-row
				.L-cell-33.colums
					%h5.colums__hd CREATIVE SOLUTION	
					%p.litle-text 
						= lorem
					%a.colums__link{href: ""} READ MORE
				.L-cell-33.colums
					%h5.colums__hd INDIVIDUAL APPROACH	
					%p.litle-text 
						= lorem
					%a.colums__link{href: ""} READ MORE
				.L-cell-33.colums
					%h5.colums__hd TECHNIKAL SUPPORT	
					%p.litle-text 
						= lorem
					%a.colums__link{href: ""} READ MORE
			.L-row
				.blue
					%h6.blue-hd OUR PROGRAMS
					%p.blue__hd-text are grounded in data analisis and produse returns for the customers
					%p.blue__text 
						= lorem
					%button.blue-btn Read more
			.L-row.offer
				%h4.big-text Our Company Is A Glanse
				%p.litle-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
